@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700);@font-face {
  font-family: 'NOVAegular';
  src: url(/fonts/NOVAegular.eot?dab14178ae44997eaa5ab514f395f7a3);
  src: url(/fonts/NOVAegular.woff2?009252304ad8c997d236bf1ad551d282) format("woff2"), url(/fonts/NOVAegular.woff?e5aca2f0d8dc44ae7d3d95deaa88d2a3) format("woff"), url(/fonts/NOVAegular.ttf?96a9e125b6795ec5d87afa7a1988fb5d) format("truetype"), url(/fonts/NOVAegular.svg?578bf37f6591b28ea65e6c584e209f69) format("svg"), url(/fonts/NOVAegular.eot?dab14178ae44997eaa5ab514f395f7a3) format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Md';
  src: url(/fonts/HelveticaNeueLTStd-Md.eot?725dfc0e3473531980c04573d55e2ef2);
  src: url(/fonts/HelveticaNeueLTStd-Md.woff2?4ffbdcc1e7aa1ac0231ad694010bea19) format("woff2"), url(/fonts/HelveticaNeueLTStd-Md.woff?6683070e172ad1692ae47b4bd09276f8) format("woff"), url(/fonts/HelveticaNeueLTStd-Md.ttf?118d9e141ea284e6f020f30486bde5a7) format("truetype"), url(/fonts/HelveticaNeueLTStd-Md.svg?5ee101c23304dd955d0df6d4bca264a5) format("svg"), url(/fonts/HelveticaNeueLTStd-Md.eot?725dfc0e3473531980c04573d55e2ef2) format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Lt';
  src: url(/fonts/HelveticaNeueLTStd-Lt.eot?e827bc727d4e54c49127c83837a6cc36);
  src: url(/fonts/HelveticaNeueLTStd-Lt.woff2?94bbec660cd1cec01ba256d673f490cb) format("woff2"), url(/fonts/HelveticaNeueLTStd-Lt.woff?b7199d8eb68ded9886090728a568db73) format("woff"), url(/fonts/HelveticaNeueLTStd-Lt.ttf?1c23f91e8edbe20f6ac9d9fc83e88475) format("truetype"), url(/fonts/HelveticaNeueLTStd-Lt.svg?0b6cabc95bb3fa3cc15c60dc41ebb3ae) format("svg"), url(/fonts/HelveticaNeueLTStd-Lt.eot?e827bc727d4e54c49127c83837a6cc36) format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  font-family: 'HelveticaNeueLTStd-Lt';
  letter-spacing: 1px;
  color: black;
}

body.o-hidden {
  overflow: hidden;
}

a {
  color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover {
  color: black;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Comfortaa', cursive;
  margin-bottom: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
}

main {
  overflow: hidden;
  padding-top: 150px;
}

#top-nav {
  background: #F5F5F5;
  padding: .75rem 0;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
}

#top-nav ul {
  padding: 0;
  margin: 0;
  width: 100%;
}

#top-nav ul li {
  display: inline-block;
  margin-right: 1rem;
}

#top-nav ul .store-loc {
  margin: 0;
}

#main-nav {
  background: white;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 50px;
  z-index: 3;
}

#main-nav .logo {
  height: 60px;
}

#main-nav .navbar-nav .nav-item {
  padding: 0 0 0 2.5rem;
}

#main-nav .navbar-nav .nav-item .nav-link {
  position: relative;
}

#main-nav .navbar-nav .nav-item .nav-link span {
  margin-left: .5rem;
}

#sticky-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

#sticky-nav.stick {
  position: fixed;
  top: 150px;
  bottom: inherit;
}

#sticky-nav ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

#sticky-nav ul li {
  list-style: none;
  float: left;
  width: 25%;
  padding: 0;
  margin: 0;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#sticky-nav ul li a {
  color: white;
  font-family: 'Comfortaa', cursive;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: .25rem;
  text-transform: uppercase;
  padding: 1.5rem 0;
  line-height: 1;
  display: block;
}

#sticky-nav ul li:first-child {
  background: #7BDFD5;
  border: 3px solid #7BDFD5;
}

#sticky-nav ul li:nth-child(2) {
  background: #E54683;
  border: 3px solid #E54683;
}

#sticky-nav ul li:nth-child(3) {
  background: #F59FBC;
  border: 3px solid #F59FBC;
}

#sticky-nav ul li:nth-child(4) {
  background: #EED0B3;
  border: 3px solid #EED0B3;
}

#sideNav {
  position: fixed;
  height: calc(100% - 150px);
  width: 25%;
  background: black;
  z-index: 2;
  padding: 30px 3.25rem 30px;
  bottom: 0;
  right: -100%;
  display: block;
  overflow-y: auto;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#sideNav.show {
  right: 0;
}

#sideNav ul.navbar-nav li a {
  color: white;
  text-align: right;
}

#sideNav ul.navbar-nav li a:hover {
  color: #E54683;
}

#sideNav hr {
  width: 100%;
  border-top: 2px solid white;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#sideNav .crest {
  height: 40px;
  position: absolute;
  top: 10px;
  left: 0;
  width: 70px;
  background: black;
  right: 0;
  margin: 0 auto;
}

#sideNav-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

#sideNav-bg.show {
  display: block;
}

.slider-block {
  height: calc(100%);
  margin-top: -150px;
}

ul#home-slider {
  text-align: center;
}

ul#home-slider li {
  position: relative;
}

ul#home-slider li .caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40%;
  width: 70%;
  margin: 0 auto;
  color: white;
}

ul#home-slider li img {
  height: 100%;
}

.section-block {
  padding: 75px 0 25px;
}

.section-block.inner-upper-block {
  padding-top: 125px;
}

.section-block.inner-banner-block {
  padding-top: 74px;
}

.section-title {
  margin: 1rem 0 2rem;
}

.section-title.gold {
  color: #BD945A;
  position: relative;
}

.section-title.gold span {
  background: white;
  display: block;
  width: 35%;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
}

.section-title.gold:after {
  content: '';
  background: #BD945A;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 1rem;
  left: 0;
}

.section-title.cerise {
  color: #E54683;
  position: relative;
}

.section-title.cerise span {
  background: white;
  display: block;
  width: 35%;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
}

.section-title.cerise:after {
  content: '';
  background: #E54683;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 1rem;
  left: 0;
}

.section-title.black {
  color: black;
  position: relative;
}

.section-title.black span {
  background: white;
  display: block;
  width: 35%;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
}

.section-title.black:after {
  content: '';
  background: black;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 1rem;
  left: 0;
}

.card-custom {
  border: none;
  margin-bottom: 3rem;
  border-radius: 0;
}

.card-custom.with-overlay .card-img-cont img {
  height: 100%;
  width: auto;
}

.card-custom.with-overlay:hover .bg-overlay {
  background: rgba(0, 0, 0, 0.8);
}

.card-custom .card-img-cont {
  position: relative;
  overflow: hidden;
  height: 400px;
  width: 100%;
}

.card-custom .card-img-cont.sm {
  height: 250px;
}

.card-custom .card-img-cont.sm img {
  width: 100%;
}

.card-custom .card-img-cont:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card-custom .card-img-cont img {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 400px;
}

.card-custom .card-body {
  padding: 2rem;
}

.card-custom .color-block {
  width: 105px;
  height: 13px;
  margin: 0 auto 1rem auto;
}

.card-custom .card-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  padding: 0 15px;
}

.card-custom .bg-overlay {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card-custom-horizontal {
  border: 1px solid black;
  margin-bottom: 1rem;
  border-radius: 0;
}

.card-custom-horizontal .card-img-cont {
  position: relative;
  overflow: hidden;
  height: 160px;
  width: 100%;
}

.card-custom-horizontal .card-img-cont:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card-custom-horizontal .card-img-cont img {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 200px;
}

.card-custom-horizontal .card-body {
  padding: 1.25rem;
}

.card-custom-horizontal .right-block {
  height: 114px;
  position: relative;
}

.card-custom-horizontal .fa-times-circle {
  position: absolute;
  right: 10px;
  z-index: 1;
}

.form-subscribe {
  position: relative;
  margin: 0;
}

.form-subscribe input {
  height: 56px;
  width: calc(100% - 300px);
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  border-color: white;
  border-radius: 0;
}

.form-subscribe input:focus {
  border-color: white;
}

.form-subscribe button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  min-height: 56px;
  min-width: 300px;
}

.sort-block ul.dropdown-menu {
  padding: 1.5rem 2.5rem;
  border-radius: 0;
  -webkit-transform: translate3d(0px, 62px, 0px) !important;
          transform: translate3d(0px, 62px, 0px) !important;
}

.sort-block ul.dropdown-menu li {
  list-style: disc;
  color: white;
  padding: .25rem;
}

.sort-block ul.dropdown-menu li a {
  color: rgba(255, 255, 255, 0.8);
}

.sort-block ul.dropdown-menu li a:hover {
  color: white;
}

.nav-tab-desertsand {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.nav-tab-desertsand .nav-link {
  border: none;
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 0;
  padding-right: 0;
  margin-right: 3rem;
}

.nav-tab-desertsand .nav-link.active {
  color: #BD945A;
  border: none;
  border-bottom: 2px solid #BD945A;
}

.banner-img {
  height: 300px;
  margin-bottom: 70px;
}

.banner-img.patisseries {
  background: url(/images/patiserrie_banner_img.jpg?7d365fceecec98f8f9069f49cfc6d244) no-repeat center;
  background-size: cover;
}

.banner-img.gift-cards {
  background: url(/images/giftcards_banner_img.jpg?27c7d4b2a003e1af338f5aeeb9564973) no-repeat center;
  background-size: cover;
}

.banner-img.catering {
  background: url(/images/events_banner_img.jpg?8532170b6f310030c5cb03543b593d80) no-repeat center;
  background-size: cover;
}

.banner-img .logo-boxed {
  max-width: 300px;
}

.my-bag .coupon-block {
  padding: 30px 25px;
}

.checkout .card,
.catering .card {
  border: none;
  margin-bottom: .5rem;
}

.checkout .card-header,
.catering .card-header {
  border: none;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0;
}

.checkout .card-header:after,
.catering .card-header:after {
  font-family: 'Font Awesome 5 Free';
  content: "\F068";
  color: black;
  font-weight: 900;
  font-size: .75rem;
  line-height: 1;
  position: absolute;
  right: 15px;
  background: transparent;
  border: 1px solid black;
  padding: 4px;
  border-radius: 50%;
  text-align: center;
  width: 20px;
  height: 20px;
}

.checkout .card-header.collapsed::after,
.catering .card-header.collapsed::after {
  content: "\F067";
}

.checkout .card-body,
.catering .card-body {
  padding: 2rem;
}

.profile .card {
  border: none;
  margin-bottom: .5rem;
}

.profile .card-header {
  border: none;
  background: #EBEBEB;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0;
}

.profile .card-body {
  padding: 2rem;
}

.list-group-custom .list-group-header {
  background: black;
  color: white;
  padding: 1.25rem 3rem;
}

.list-group-custom a {
  padding: 1.25rem 3rem;
  background: #F5F5F5;
}

.list-group-custom.condensed a {
  padding: .5rem 3rem;
}

.list-group-buttons {
  padding: 0 10px;
}

.list-group-buttons a {
  width: 32%;
  float: left;
  margin: 0 7px;
}

.mapouter {
  text-align: right;
  height: 500px;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 100%;
}

#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translate(0px, -100%);
  transform: translate(0px, -100%);
  opacity: 0;
}

#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
}

#search .search-cont {
  max-width: 600px;
  margin-top: 10%;
  padding: 15px;
}

#search input[type="search"] {
  background: none;
  border: none;
  border-bottom: 2px solid #000;
  color: #000;
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 2rem 50px 2rem 0;
}

#search #btn-search {
  position: absolute;
  top: 5px;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 99;
  padding: 10px;
}

#search .close {
  position: fixed;
  top: 15px;
  right: 15px;
  color: #fff;
  background-color: #000;
  border-color: #000;
  opacity: 1;
  padding: 10px 17px;
  font-size: 27px;
}

#search .result-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  clear: both;
  overflow: hidden;
  padding: 1rem 0;
  position: relative;
}

#search .result-item img {
  float: right;
  margin-top: 4px;
}

#search .result-item .title {
  font-weight: 300;
  font-size: 1.1em;
  margin: 0 0 .06em;
  letter-spacing: -.01em;
  padding-right: 55px;
}

#search .result-item .result-item .price {
  display: block;
  font-size: .9em;
  padding-right: 55px;
}

#search .result-item img {
  max-width: 47px;
}

#menu-search input {
  outline: none;
}

#menu-search input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

#menu-search input::-webkit-search-decoration,
#menu-search input::-webkit-search-cancel-button {
  display: none;
}

#menu-search input[type=search] {
  background: #fff url(/images/search.png?84853e1bc569cefa50aa9dcaa3dd3e64) no-repeat 5px center;
  background-size: contain;
  border-width: 0;
  padding: 9px 10px 9px 32px;
  width: 55px;
  border-right: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#menu-search input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #66CC75;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

#menu-search input[type=search] {
  width: 13px;
  height: 13px;
  padding-left: 1rem;
  color: transparent;
  cursor: pointer;
}

#menu-search input[type=search]:focus {
  width: 200px;
  padding-left: 52px;
  color: #000;
  background-color: #fff;
  cursor: auto;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid black;
  padding: .75rem 0;
  background: none;
}

#menu-search input[type=search]:focus::-webkit-input-placeholder {
  color: black;
}

#menu-search input[type=search]:focus:-moz-placeholder {
  color: black;
}

#menu-search input:-moz-placeholder {
  color: transparent;
}

#menu-search input::-webkit-input-placeholder {
  color: transparent;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  max-height: 300px;
  overflow: auto;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

footer a {
  color: #BD945A;
}

footer a:hover,
footer a:focus {
  color: #9e7439;
}

footer ul {
  list-style: none;
}

footer .footer-logo {
  max-height: 80px;
}

footer .social-icons li {
  list-style: none;
  display: inline-block;
  margin-left: 0;
}

footer .social-icons li a {
  color: white;
  padding: 6px;
  font-size: 20px;
  width: 32px;
  height: 32px;
  text-align: center;
  text-decoration: none;
  margin: .35rem;
  border-radius: 50%;
  background: #BD945A;
}

footer .social-icons li a:hover,
footer .social-icons li a:focus {
  background: #9e7439;
}

hr {
  border-top: 2px solid black;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 24px rgba(15, 91, 112, 0.1);
          box-shadow: 0px 0px 24px rgba(15, 91, 112, 0.1);
}

.text-shadow {
  text-shadow: 0px 8px 18px rgba(0, 40, 103, 0.16);
}

.cS-hidden {
  height: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.bg-riptide {
  background: #7BDFD5;
}

.bg-driptide {
  background: #55c2b7;
}

.bg-cerise {
  background: #E54683;
}

.bg-dcerise {
  background: #cb195d;
}

.bg-illusion {
  background: #F59FBC;
}

.bg-dillusion {
  background: #da7497;
}

.bg-desertsand {
  background: #EED0B3;
}

.bg-gold {
  background: #BD945A;
}

.bg-gray {
  background: #EBEBEB;
}

.bg-lgray {
  background: #F5F5F5;
}

.bg-black {
  background: black;
}

.text-riptide {
  color: #7BDFD5;
}

.text-cerise {
  color: #E54683;
}

.text-illusion {
  color: #F59FBC;
}

.text-desertsand {
  color: #EED0B3;
}

.text-gold {
  color: #BD945A;
}

.text-azure {
  color: #009DFF;
}

.btn-black {
  background: black;
  color: white;
  border: 1px solid black;
}

.btn-black:hover,
.btn-black:focus {
  color: black;
  background: white;
}

.btn-black.inverted {
  background: white;
  color: black;
}

.btn-black.inverted:hover,
.btn-black.inverted:focus {
  background: black;
  color: white;
}

.btn-gray {
  background: #EBEBEB;
  color: black;
  border: 1px solid #EBEBEB;
}

.btn-gray:hover,
.btn-gray:focus {
  color: black;
}

.btn-dgray {
  background: #7E7E7E;
  color: white;
  border: 1px solid #7E7E7E;
}

.btn-dgray:hover,
.btn-dgray:focus {
  color: #7E7E7E;
  background: white;
}

.btn-cerise {
  background: #E54683;
  color: white;
  border: 1px solid #E54683;
}

.btn-illusion {
  background: #F59FBC;
  color: white;
  border: 1px solid #F59FBC;
}

.btn-riptide {
  background: #7BDFD5;
  color: white;
  border: 1px solid #7BDFD5;
}

.btn-gold {
  background: #BD945A;
  color: white;
  border: 1px solid #BD945A;
}

.btn-gold:hover,
.btn-gold:focus {
  color: #BD945A;
  background: white;
}

.btn-gold.inverted {
  background: black;
  color: white;
}

.btn-gold.inverted:hover,
.btn-gold.inverted:focus {
  color: white;
}

.btn-blue {
  background: #395795;
  color: white;
  border: 1px solid #395795;
}

.btn-blue:hover,
.btn-blue:focus {
  color: white;
}

.w-shadow:hover {
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.4);
}

.cS-hidden {
  height: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden;
}

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #000 url(/images/loading.gif?80080d02641228f395152ee77041a178) no-repeat center center;
}

.home .lSSlideOuter {
  position: relative;
}

.home .lSSlideOuter .lSPager.lSpg {
  position: absolute;
  bottom: 30%;
  z-index: 1;
  left: 0;
  right: 0;
}

.lSSlideOuter .lSPager.lSpg > li a {
  background-color: #7E7E7E;
  border: 1px solid #7E7E7E;
  width: 10px;
  height: 10px;
  z-index: 1;
}

.lSSlideOuter .lSPager.lSpg > li:hover a,
.lSSlideOuter .lSPager.lSpg > li.active a {
  background-color: white;
}

.lSSlideOuter .lSPager.lSGallery li.active,
.lSSlideOuter .lSPager.lSGallery li:hover {
  border-radius: 0;
}

button:focus {
  outline: 0;
}

.btn.focus,
.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem auto 0;
  padding: .7rem 3.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 0;
}

.btn-sm {
  font-size: .75rem;
  width: 250px;
  height: 48px;
  padding: .8rem;
}

.card-title {
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin-bottom: .25rem;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
  display: block !important;
  padding: 0;
}

.navbar-toggler:focus {
  outline: none;
  background: transparent !important;
}

.navbar-toggler .icon-bar {
  background-color: black;
  -webkit-transform: rotate(0deg) translate(0px, 0px);
          transform: rotate(0deg) translate(0px, 0px);
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 32px;
  height: 2px;
  border-radius: 1px;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 11px;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(10px, 9px);
          transform: rotate(45deg) translate(10px, 9px);
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(10px, -9px);
          transform: rotate(-45deg) translate(10px, -9px);
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

.modal-open .modal {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.modal-open .modal .modal-dialog {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.dropdown-toggle::after {
  border: none;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  content: "\F107";
  display: initial;
  vertical-align: middle;
}

.form-control {
  border: 1px solid black;
  padding: .75rem .75rem;
  min-height: 48px;
  line-height: 1;
  border-radius: 0;
}

.form-control:focus {
  border-color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
}

select,
select.form-control:not([size]):not([multiple]) {
  height: 48px;
}

.dropdown-menu {
  z-index: 1;
}

.pagination {
  margin-bottom: 2rem;
}

.pagination li {
  padding: .75rem;
}

.pagination li a {
  padding-bottom: .75rem;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.pagination li a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #BD945A;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.pagination li a:hover:before {
  left: 0;
  right: 0;
}

.pagination li.active a:before {
  left: 0;
  right: 0;
}

.breadcrumb {
  background: none;
  padding: .75rem 0;
  margin: 0;
  font-size: 85%;
}

.breadcrumb-item.active {
  color: black;
}

.modal-content {
  background: black;
  border-radius: 0;
}

.modal-content .close {
  top: -30px;
  position: absolute;
  right: 0;
  opacity: 1;
}

.modal-body {
  padding: 3.5rem 4rem;
}

.modal-backdrop {
  background: white;
}

.modal-backdrop.show {
  opacity: .4;
}

.close {
  text-shadow: none;
}

.custom-checkbox .custom-control-label::before {
  background: white;
  border: 1px solid black;
  border-radius: 0;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background: black;
}

.carousel-indicators {
  bottom: -40px;
  z-index: 1;
}

.carousel-indicators li {
  background-color: #7E7E7E;
  border: 1px solid #7E7E7E;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  z-index: 1;
}

.carousel-control-next,
.carousel-control-prev {
  width: 5%;
}

@media (min-width: 1700px) {
  #sideNav {
    padding: 50px 7rem 2rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1640px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 80%;
  }
}

@media screen and (max-width: 1366px) {
  html {
    zoom: 80%;
  }
}

@media screen and (max-width: 991px) {
  html {
    zoom: 100%;
  }

  html,
  body {
    font-size: 14px;
  }

  h2,
  .h2 {
    font-size: 1.75rem;
  }

  main {
    padding-top: 80px;
  }

  #top-nav {
    padding: 0;
    height: 30px;
  }

  #top-nav ul li {
    margin-right: .25rem;
  }

  #top-nav ul li a {
    font-size: .6rem;
    padding: .25rem;
  }

  #top-nav .flag {
    max-width: 1.25rem;
  }

  #main-nav {
    height: 50px;
    top: 30px;
  }

  #main-nav .logo {
    height: 30px;
  }

  #main-nav .navbar-nav {
    width: 60%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  #main-nav .navbar-nav .nav-item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: .5rem;
  }

  #main-nav .navbar-nav .nav-item .nav-link img {
    height: 17px;
  }

  #main-nav .navbar-nav .nav-item .nav-link span {
    display: none;
  }

  #main-nav .navbar-nav .nav-item.hide {
    display: none;
  }

  .section-block {
    padding: 25px 0 15px;
  }

  .section-block.inner-upper-block {
    padding-top: 28px;
  }

  .section-block.inner-banner-block {
    padding-top: 42px;
  }

  .section-title {
    margin: 1rem 0;
  }

  .section-title.gold span,
  .section-title.cerise span,
  .section-title.black span {
    width: 100%;
  }

  .section-title.gold:after,
  .section-title.cerise:after,
  .section-title.black:after {
    display: none;
  }

  .banner-img {
    height: 150px;
    margin-bottom: 25px;
  }

  .banner-img.patisseries,
  .banner-img.events {
    background: url(/images/patiserrie_banner_img_mobile.jpg?69ab5bbda219360e3edbe957005a58c8) no-repeat center;
    background-size: cover;
  }

  .banner-img.gift-cards {
    background: url(/images/giftcards_banner_img_mobile.jpg?5d6ab9b8ae196acf4dfb5164864c98f9) no-repeat center;
    background-size: cover;
  }

  .banner-img .logo-boxed {
    max-width: 220px;
  }

  #sticky-nav {
    position: fixed;
    bottom: inherit;
    top: 80px;
  }

  #sticky-nav.stick {
    position: fixed;
    top: 80px;
  }

  #sticky-nav ul li {
    display: block;
    float: none;
    width: 100%;
    background: black !important;
    border: none !important;
    margin-bottom: 2px;
    position: relative;
  }

  #sticky-nav ul li a {
    padding: 1rem;
    font-size: 1rem;
  }

  #sticky-nav ul li:first-child a {
    color: #7BDFD5;
  }

  #sticky-nav ul li:nth-child(2) a {
    color: #E54683;
  }

  #sticky-nav ul li:nth-child(3) a {
    color: #F59FBC;
  }

  #sticky-nav ul li:nth-child(4) a {
    color: #EED0B3;
  }

  #sticky-nav ul li:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 100%;
    background: white;
  }

  #sticky-nav .mobile-sticky-toggle {
    height: 42px;
    display: block;
    float: none;
    width: 100%;
    background: black !important;
    border: none !important;
    margin-bottom: .25rem;
    padding: .4rem;
    font-size: 1.5rem;
    text-align: center;
  }

  #sticky-nav .mobile-sticky-toggle:after {
    font-family: 'Font Awesome 5 Free';
    content: "\F0D8";
    color: #BD945A;
    font-weight: 900;
  }

  #sticky-nav .mobile-sticky-toggle.collapsed::after {
    content: "\F0D7";
  }

  #search .search-cont {
    margin-top: 25%;
  }

  .home #sticky-nav ul li,
  .home #sticky-nav .mobile-sticky-toggle {
    background: rgba(0, 0, 0, 0.8) !important;
  }

  .store .lSSlideOuter .lSPager.lSGallery {
    margin-left: 15px;
    margin-right: 15px;
  }

  #sideNav {
    height: 100%;
    width: 100%;
    top: 80px;
  }

  .social-icon-nav li {
    list-style: none;
    display: inline-block;
    margin-left: 0;
  }

  .social-icon-nav li a {
    color: black !important;
    padding: 6px 4px;
    font-size: 20px;
    width: 32px;
    height: 32px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    background: white;
  }

  .slider-block {
    height: auto;
  }

  ul#home-slider {
    margin-top: 0;
  }

  ul#home-slider li .caption {
    width: 100%;
    padding: 1rem;
    bottom: 20%;
    display: none;
  }

  ul#home-slider li img {
    height: auto;
  }

  .sort-block {
    width: 100%;
    left: 0;
    height: 42px;
    z-index: 1;
    position: relative;
  }

  .sort-block .page-title {
    position: absolute;
    top: 13px;
    left: 15px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
  }

  .sort-block ul.dropdown-menu {
    -webkit-transform: translate3d(0px, 44px, 0px) !important;
            transform: translate3d(0px, 44px, 0px) !important;
  }

  .my-bag .coupon-block {
    margin-top: 3rem;
    padding: 0;
    background: white;
  }

  .checkout .card-header,
  .profile .card-header,
  .catering .card-header {
    margin-left: -15px;
    margin-right: -15px;
  }

  .checkout .card-header:after,
  .profile .card-header:after,
  .catering .card-header:after {
    right: 0;
  }

  .checkout .card-body,
  .profile .card-body,
  .catering .card-body {
    padding: 1rem 0;
  }

  .home .lSSlideOuter .lSPager.lSpg {
    bottom: 5%;
  }

  .navbar-toggler .icon-bar {
    display: block;
    width: 16px;
    height: 1px;
    border-radius: 1px;
    -webkit-transition: ease all .2s;
    transition: ease all .2s;
  }

  .navbar-toggler .icon-bar + .icon-bar {
    margin-top: 5px;
  }

  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(7px, 3px);
            transform: rotate(45deg) translate(7px, 3px);
  }

  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(5px, -2px);
            transform: rotate(-45deg) translate(5px, -2px);
  }

  .card-custom {
    margin-bottom: 1.75rem;
    margin-left: -15px;
    margin-right: -15px;
  }

  .card-custom .card-img-cont {
    height: 200px;
  }

  .card-custom .card-img-cont img {
    bottom: 0;
    width: 100%;
    height: auto;
  }

  .card-custom .card-body {
    padding: 1.25rem 15px;
  }

  .card-custom .card-overlay {
    top: 13%;
  }

  .card-custom-horizontal {
    border-left: none;
    border-right: none;
    margin-top: -1px;
    margin-bottom: 0;
  }

  .card-custom-horizontal .card-img-cont {
    height: 120px;
  }

  .card-custom-horizontal .card-img-cont img {
    height: 160px;
  }

  .card-custom-horizontal .right-block {
    height: 73px;
  }

  .btn {
    font-size: 1rem;
    width: 100%;
    padding: .75rem .5rem;
    display: block;
    max-height: 48px;
    line-height: 1.5;
  }

  .text-subscribe {
    font-size: 1.25rem;
  }

  .form-subscribe input {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1rem;
    height: auto;
    padding: .5rem;
  }

  .form-subscribe button {
    position: relative;
    min-height: 48px;
  }

  .form-control {
    padding: .5rem;
  }

  .modal-dialog {
    margin: 0;
  }

  .modal-body {
    padding: 3.5rem 15px;
  }

  .modal-content .close {
    right: 10px;
  }

  .mapouter {
    text-align: center;
    height: 150px;
  }

  .gmap_canvas {
    height: 150px;
  }

  .list-group-buttons a {
    width: 100%;
  }

  #menu-search input[type=search] {
    height: 0;
    width: 0;
  }

  #menu-search input[type=search]:focus {
    width: 150px;
  }
}

